//Reset stylesheet
@import './_reset';
@import './mixins';

/*Clear Fix
========================================================================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.show {
	display: block;
}
.hide {
	display: none;
}

.grids {
	width: 50%;
	padding: 20px;
	margin-left: 10px;
	border: 1px solid #ccc;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0, .7);
}

.wrapper {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
}

.close {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}