.page-not-found {
	text-align: center;
	p {
		box-sizing: border-box;
		width: 90%;
		margin: 50px auto 10px;
		color: #ff0000;
		font-size: 18px;
	}

	.back-to-page {
		color: #0000ff;
		font-size: 16px;
	}
}
